[core]
	excludesfile = /Users/takayuki/dotfiles/.gitignore
[color]
    ui = auto
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[user]
	name = yukihira1992
	email = hirayama@cancerscan.jp
[github]
    user = yukihira1992
[merge "mergepbx"]
    name = Xcode project files merger
    driver = mergepbx %O %A %B
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/takayuki/.stCommitMsg
