[submodule "jedi-vim"]
	path = jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "vim-template"]
	path = vim-template
	url = https://github.com/aperezdc/vim-template
[submodule "pyflakes-vim"]
	path = pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim
[submodule "unite-colorscheme"]
	path = unite-colorscheme
	url = https://github.com/ujihisa/unite-colorscheme
[submodule "unite.vim"]
	path = unite.vim
	url = https://github.com/Shougo/unite.vim
[submodule "inkpot"]
	path = inkpot
	url = https://github.com/ciaranm/inkpot
[submodule "badwolf"]
	path = badwolf
	url = https://github.com/sjl/badwolf
[submodule "vim-hybrid"]
	path = vim-hybrid
	url = https://github.com/w0ng/vim-hybrid
[submodule "vim-monokai"]
	path = vim-monokai
	url = https://github.com/sickill/vim-monokai
[submodule "vim-tomorrow-theme"]
	path = vim-tomorrow-theme
	url = https://github.com/chriskempson/vim-tomorrow-theme
[submodule "molokai"]
	path = molokai
	url = https://github.com/tomasr/molokai
[submodule "vim-pyte"]
	path = vim-pyte
	url = https://github.com/therubymug/vim-pyte
[submodule "vim-railscasts-theme"]
	path = vim-railscasts-theme
	url = https://github.com/jpo/vim-railscasts-theme
[submodule "mrkn256.vim"]
	path = mrkn256.vim
	url = https://github.com/mrkn/mrkn256.vim
[submodule "Zenburn"]
	path = Zenburn
	url = https://github.com/vim-scripts/Zenburn
[submodule "Lucius"]
	path = Lucius
	url = https://github.com/vim-scripts/Lucius
[submodule "jellybeans.vim"]
	path = jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim
[submodule "vim-colors-wombat"]
	path = vim-colors-wombat
	url = https://github.com/jeffreyiacono/vim-colors-wombat
[submodule "mustang-vim"]
	path = mustang-vim
	url = https://github.com/croaker/mustang-vim
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "neobundle.vim"]
	path = neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
